* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.nav-bar {
  flex-direction: column;
  gap: 0px
}

.nav-bar, footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  color: white;
  background-color: #1a1a1a;
}

.nav-bar-option {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  
}

footer p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-bar h1 {
  font-size: 45px;
  font-weight: 900;
}

a {
  color: inherit;
  text-decoration: none;

}

@media only screen and (min-width: 768px) {
  .nav-bar {
    flex-direction: row;
    gap: 0;
  }

  .nav-bar-option {
    flex-direction: row;
    gap: 50px;
  }
}